.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# test database
/db

# javadocs
/src/main/resources/static/java-docs

# test kubernetes
/kubernetes

# logs
/logs

# vscode
/.vscode
bin/gatling/org/radarbase/appserver/ApiGatlingSimulationTest.scala
bin/gatling/org/radarbase/appserver/BatchingApiGatlingSimulationTest.scala
bin/integrationTest/application.properties
bin/integrationTest/radar_is.yml
bin/integrationTest/docker/docker-compose.yml
bin/integrationTest/docker/etc/config/keystore.p12
bin/integrationTest/docker/etc/config/oauth_client_details.csv
bin/integrationTest/org/radarbase/appserver/auth/NotificationEndpointAuthTest.class
bin/integrationTest/org/radarbase/appserver/auth/ProjectEndpointAuthTest.class
bin/integrationTest/org/radarbase/appserver/auth/UserEndpointAuthTest.class
bin/integrationTest/org/radarbase/appserver/auth/common/MPOAuthHelper.class
bin/integrationTest/org/radarbase/appserver/auth/common/OAuthHelper.class
bin/main/application-dev.properties
bin/main/application-prod.properties
bin/main/application.properties
bin/main/inbound-xmpp.xml
bin/main/liquibase-task.properties
bin/main/logback-spring.xml
bin/main/outbound-xmpp.xml
bin/main/META-INF/spring-configuration-metadata.json
bin/main/META-INF/spring-devtools.properties
bin/main/db/changelog/db.changelog-master.yaml
bin/main/db/changelog/changes/00000000000000_initial_schema-20181129171324_changelog.yml
bin/main/db/changelog/changes/00000000000000_update_schema-20190408172324_changelog.yml
bin/main/db/changelog/changes/00000000000000_update_schema-20190415142024_changelog.yml
bin/main/db/changelog/changes/00000000000000_update_schema-20190418153624_changelog.yml
bin/main/db/changelog/changes/00000000000000_update_schema-20190722162524_changelog.yml
bin/main/db/changelog/changes/00000000000000_update_schema-20190722184824_changelog.yml
bin/main/db/changelog/changes/00000000000000_update_schema-20190722185424_changelog.yml
bin/main/db/changelog/changes/00000000000000_update_schema-20191106172924_changelog.yml
bin/main/db/changelog/changes/00000000000001_update_schema-20190726152824_changelog.yml
bin/main/db/changelog/changes/00000000000001_update_schema-20190726164324_changelog.yml
bin/main/db/changelog/changes/00000000000001_update_schema-20191009192824_changelog.yml
bin/main/db/changelog/changes/00000000000002_update_schema-20200309192824_changelog.yml
bin/main/db/changelog/changes/quartz_init.xml
bin/main/org/radarbase/appserver/AppserverApplication.class
bin/main/org/radarbase/appserver/config/ApplicationConfig.class
bin/main/org/radarbase/appserver/config/AuthConfig.class
bin/main/org/radarbase/appserver/config/AuthConfig$AuthEntities.class
bin/main/org/radarbase/appserver/config/AuthConfig$AuthPermissions.class
bin/main/org/radarbase/appserver/config/MultiHttpSecurityConfig.class
bin/main/org/radarbase/appserver/config/MultiHttpSecurityConfig$1.class
bin/main/org/radarbase/appserver/config/MultiHttpSecurityConfig$AdminWebSecurityConfigurationAdapter.class
bin/main/org/radarbase/appserver/config/MultiHttpSecurityConfig$WebSecurityConfig.class
bin/main/org/radarbase/appserver/config/SchedulerConfig.class
bin/main/org/radarbase/appserver/controller/FcmDataMessageController.class
bin/main/org/radarbase/appserver/controller/FcmNotificationController.class
bin/main/org/radarbase/appserver/controller/NotificationStateEventController.class
bin/main/org/radarbase/appserver/controller/PathsUtil.class
bin/main/org/radarbase/appserver/controller/ProtocolEndpoint.class
bin/main/org/radarbase/appserver/controller/RadarProjectController.class
bin/main/org/radarbase/appserver/controller/RadarUserController.class
bin/main/org/radarbase/appserver/controller/exception/CustomExceptionHandler.class
bin/main/org/radarbase/appserver/converter/Converter.class
bin/main/org/radarbase/appserver/converter/DataMessageConverter.class
bin/main/org/radarbase/appserver/converter/NotificationConverter.class
bin/main/org/radarbase/appserver/converter/ProjectConverter.class
bin/main/org/radarbase/appserver/converter/UserConverter.class
bin/main/org/radarbase/appserver/dto/DataMessageStateEventDto.class
bin/main/org/radarbase/appserver/dto/NotificationStateEventDto.class
bin/main/org/radarbase/appserver/dto/ProjectDto.class
bin/main/org/radarbase/appserver/dto/ProjectDtos.class
bin/main/org/radarbase/appserver/dto/fcm/FcmDataMessageDto.class
bin/main/org/radarbase/appserver/dto/fcm/FcmDataMessages.class
bin/main/org/radarbase/appserver/dto/fcm/FcmNotificationDto.class
bin/main/org/radarbase/appserver/dto/fcm/FcmNotifications.class
bin/main/org/radarbase/appserver/dto/fcm/FcmUserDto.class
bin/main/org/radarbase/appserver/dto/fcm/FcmUsers.class
bin/main/org/radarbase/appserver/dto/protocol/Assessment.class
bin/main/org/radarbase/appserver/dto/protocol/AssessmentProtocol.class
bin/main/org/radarbase/appserver/dto/protocol/AssessmentProtocol$RepeatQuestionnaireProtocol.class
bin/main/org/radarbase/appserver/dto/protocol/DefinitionInfo.class
bin/main/org/radarbase/appserver/dto/protocol/LanguageText.class
bin/main/org/radarbase/appserver/dto/protocol/Protocol.class
bin/main/org/radarbase/appserver/dto/protocol/TimePeriod.class
bin/main/org/radarbase/appserver/dto/questionnaire/Schedule.class
bin/main/org/radarbase/appserver/entity/AuditModel.class
bin/main/org/radarbase/appserver/entity/DataMessage.class
bin/main/org/radarbase/appserver/entity/DataMessage$DataMessageBuilder.class
bin/main/org/radarbase/appserver/entity/DataMessageStateEvent.class
bin/main/org/radarbase/appserver/entity/Message.class
bin/main/org/radarbase/appserver/entity/MessageStateEvent.class
bin/main/org/radarbase/appserver/entity/Notification.class
bin/main/org/radarbase/appserver/entity/Notification$NotificationBuilder.class
bin/main/org/radarbase/appserver/entity/NotificationStateEvent.class
bin/main/org/radarbase/appserver/entity/Project.class
bin/main/org/radarbase/appserver/entity/Scheduled.class
bin/main/org/radarbase/appserver/entity/User.class
bin/main/org/radarbase/appserver/entity/UserMetrics.class
bin/main/org/radarbase/appserver/event/listener/QuartzMessageJobListener.class
bin/main/org/radarbase/appserver/event/listener/QuartzMessageSchedulerListener.class
bin/main/org/radarbase/appserver/event/state/MessageState.class
bin/main/org/radarbase/appserver/event/state/MessageStateEventListener.class
bin/main/org/radarbase/appserver/event/state/dto/DataMessageStateEventDto.class
bin/main/org/radarbase/appserver/event/state/dto/MessageStateEventDto.class
bin/main/org/radarbase/appserver/event/state/dto/NotificationStateEventDto.class
bin/main/org/radarbase/appserver/exception/AlreadyExistsException.class
bin/main/org/radarbase/appserver/exception/InvalidNotificationDetailsException.class
bin/main/org/radarbase/appserver/exception/InvalidProjectDetailsException.class
bin/main/org/radarbase/appserver/exception/InvalidUserDetailsException.class
bin/main/org/radarbase/appserver/exception/NotFoundException.class
bin/main/org/radarbase/appserver/repository/DataMessageRepository.class
bin/main/org/radarbase/appserver/repository/DataMessageStateEventRepository.class
bin/main/org/radarbase/appserver/repository/NotificationRepository.class
bin/main/org/radarbase/appserver/repository/NotificationStateEventRepository.class
bin/main/org/radarbase/appserver/repository/ProjectRepository.class
bin/main/org/radarbase/appserver/repository/UserRepository.class
bin/main/org/radarbase/appserver/service/DataMessageService.class
bin/main/org/radarbase/appserver/service/DataMessageStateEventService.class
bin/main/org/radarbase/appserver/service/FcmDataMessageService.class
bin/main/org/radarbase/appserver/service/FcmNotificationService.class
bin/main/org/radarbase/appserver/service/ManagementPortalService.class
bin/main/org/radarbase/appserver/service/MessageType.class
bin/main/org/radarbase/appserver/service/NotificationService.class
bin/main/org/radarbase/appserver/service/NotificationStateEventService.class
bin/main/org/radarbase/appserver/service/ProjectService.class
bin/main/org/radarbase/appserver/service/QuestionnaireScheduleService.class
bin/main/org/radarbase/appserver/service/UserService.class
bin/main/org/radarbase/appserver/service/fcm/Action.class
bin/main/org/radarbase/appserver/service/fcm/BatchedScheduleNotificationHandler.class
bin/main/org/radarbase/appserver/service/fcm/BatchedScheduleNotificationHandler$UserWithId.class
bin/main/org/radarbase/appserver/service/fcm/FcmMessageReceiverService.class
bin/main/org/radarbase/appserver/service/fcm/FcmMessageReceiverService$ScheduleNotificationHandlerConfig.class
bin/main/org/radarbase/appserver/service/fcm/ScheduleNotificationHandler.class
bin/main/org/radarbase/appserver/service/fcm/SimpleScheduleNotificationHandler.class
bin/main/org/radarbase/appserver/service/protocol/DefaultProtocolGenerator.class
bin/main/org/radarbase/appserver/service/protocol/GithubProtocolFetcherStrategy.class
bin/main/org/radarbase/appserver/service/protocol/ProtocolFetcherStrategy.class
bin/main/org/radarbase/appserver/service/protocol/ProtocolGenerator.class
bin/main/org/radarbase/appserver/service/scheduler/AdminEmailNotifierScheduler.class
bin/main/org/radarbase/appserver/service/scheduler/DataMessageSchedulerService.class
bin/main/org/radarbase/appserver/service/scheduler/MessageSchedulerService.class
bin/main/org/radarbase/appserver/service/scheduler/NotificationSchedulerService.class
bin/main/org/radarbase/appserver/service/scheduler/quartz/MessageJob.class
bin/main/org/radarbase/appserver/service/scheduler/quartz/QuartzNamingStrategy.class
bin/main/org/radarbase/appserver/service/scheduler/quartz/SchedulerService.class
bin/main/org/radarbase/appserver/service/scheduler/quartz/SchedulerServiceImpl.class
bin/main/org/radarbase/appserver/service/scheduler/quartz/SimpleQuartzNamingStrategy.class
bin/main/org/radarbase/appserver/util/CachedMap.class
bin/main/org/radarbase/appserver/util/CachedMap$ThrowingSupplier.class
bin/main/org/radarbase/appserver/util/ExpiringMap.class
bin/main/org/radarbase/appserver/util/ExpiringMap$ExceptionThreadFactory.class
bin/main/org/radarbase/appserver/util/ExpiringMap$LogAndContinueExceptionHandler.class
bin/main/org/radarbase/fcm/common/CcsClient.class
bin/main/org/radarbase/fcm/common/ObjectMapperFactory.class
bin/main/org/radarbase/fcm/config/BackOffStrategy.class
bin/main/org/radarbase/fcm/config/FcmAppConfiguration.class
bin/main/org/radarbase/fcm/config/FcmSenderConfig.class
bin/main/org/radarbase/fcm/config/FcmServerConfig.class
bin/main/org/radarbase/fcm/config/ReconnectionEnabledXmppConnectionFactoryBean.class
bin/main/org/radarbase/fcm/downstream/AdminSdkFcmSender.class
bin/main/org/radarbase/fcm/downstream/FcmSender.class
bin/main/org/radarbase/fcm/downstream/XmppFcmSender.class
bin/main/org/radarbase/fcm/model/FcmAckMessage.class
bin/main/org/radarbase/fcm/model/FcmDataMessage.class
bin/main/org/radarbase/fcm/model/FcmDownstreamMessage.class
bin/main/org/radarbase/fcm/model/FcmMessage.class
bin/main/org/radarbase/fcm/model/FcmNotificationMessage.class
bin/main/org/radarbase/fcm/model/FcmUpstreamMessage.class
bin/main/org/radarbase/fcm/upstream/FcmMessageType.class
bin/main/org/radarbase/fcm/upstream/UpstreamMessageHandler.class
bin/main/org/radarbase/fcm/upstream/XmppFcmReceiver.class
bin/main/org/radarbase/fcm/upstream/error/ErrorHandlingStrategy.class
bin/main/org/radarbase/fcm/upstream/error/LoggingErrorHandlingStrategy.class
bin/test/application.properties
bin/test/org/radarbase/appserver/AppserverApplicationTests.class
bin/test/org/radarbase/appserver/controller/FcmDataMessageControllerTest.class
bin/test/org/radarbase/appserver/controller/FcmNotificationControllerTest.class
bin/test/org/radarbase/appserver/controller/RadarProjectControllerTest.class
bin/test/org/radarbase/appserver/controller/RadarUserControllerTest.class
bin/test/org/radarbase/appserver/repository/DataMessageRepositoryTest.class
bin/test/org/radarbase/appserver/repository/NotificationRepositoryTest.class
bin/test/org/radarbase/appserver/repository/UserRepositoryTest.class
bin/test/org/radarbase/appserver/service/FcmNotificationServiceTest.class
bin/test/org/radarbase/appserver/service/FcmNotificationServiceTest$FcmNotificationServiceTestContextConfiguration.class
bin/test/org/radarbase/appserver/service/ProjectServiceTest.class
bin/test/org/radarbase/appserver/service/ProjectServiceTest$ProjectServiceTestConfig.class
bin/test/org/radarbase/appserver/service/UserServiceTest.class
bin/test/org/radarbase/appserver/service/UserServiceTest$UserServiceConfig.class
bin/test/org/radarbase/appserver/service/fcm/FcmMessageReceiverTest.class
bin/test/org/radarbase/appserver/service/fcm/FcmMessageReceiverTest$MessageReceiverConfig.class
bin/test/org/radarbase/appserver/service/protocol/DefaultProtocolGeneratorTest.class
bin/test/org/radarbase/appserver/service/scheduler/NotificationSchedulerServiceTest.class
bin/test/org/radarbase/appserver/service/scheduler/NotificationSchedulerServiceTest$SchedulerServiceTestConfig.class
bin/test/org/radarbase/appserver/service/scheduler/NotificationSchedulerServiceTest$TestJobListener.class
