.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# test database
/db

# javadocs
/src/main/resources/static/java-docs

# test kubernetes
/kubernetes

# logs
/logs

# vscode
/.vscode
bin/

*.DS_Store

docker/prod

*__pycache__
google-credentials.json
